/*自定义*/
html,body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #f4f5f6;
}
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #595959;
}
img{
    vertical-align: top;
}

#index .el-tabs{
    user-select: none;
}
#index .tab_main > .el-tabs__header > .el-tabs__nav-wrap{
    padding: 10px 24px 0;
    height: 62px;
    line-height: 52px;
}
#index .tab_main > .el-tabs__header .el-tabs__nav > .el-tabs__item{
    font-size: 16px;
}
#index .el-tabs__nav-wrap::after{
    height: 1px;
}

#index .tab_sub .el-tabs__header{
    padding: 0 24px;
}

#index .el-tabs__item{
    outline: none;
    box-shadow: none;
}
