html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    /*font-weight: inherit;*/
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
    vertical-align: baseline; 
} 
*{
  box-sizing: border-box;
}
:focus {
    outline: 0;
} 
a, a:link, a:visited, a:hover, a:active{
    text-decoration:none
} 
table {
    border-collapse: separate;
    border-spacing: 0;
} 
th, td {
    text-align: left;
    font-weight: normal;
} 
img, iframe {
    border: none;
    text-decoration:none;
} 
ol, ul {
    list-style: none;
} 
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
} 
select {
    margin: inherit;
} 
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}
/*自定义*/
html,body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #f4f5f6;
}
body{
    font-family: helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",simsun;
    font-size: 14px;
    line-height: 1.2;
    color: #595959;
}
img{
    vertical-align: top;
}
.tab_main >.el-tabs__header{
    padding: 10px 24px 0;
            font-size: 14px;
}
.tab_main .el-tabs__item{
    font-size: 16px;
}
.tab_main .el-tabs__active-bar{
    height: 2px;
}
.tab_sub .el-tabs__header{
    padding: 0 24px;
}
.el-tabs__active-bar{
    transition: none !important;
}
